menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0;
}
.tab-btn {
    list-style: none;
    margin-top: 15px;
    margin-right: 20px;
}
.tab-btn:hover {
    background-color: #475f8d;
}

.tab-btn button {
    background-color: rgba(0, 0, 0, 0);
}

#tab-content {
    background-color: #475f8d;
}

#tab-content h3 {
    margin-bottom: 15px;
}

#tab-content p {
    margin-bottom: 20px;
}

#tab-content pre {
    background-color: grey;
    color: white;
    font-weight: bold;
}
