* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 5rem;
  width: 10rem;
  object-fit: fill;
}

header h1 {
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

.content {
  font-size: 1.25rem;
  color: #8964b0;
  font-family: 'Roboto Condensed', sans-serif;
}

.sub-content {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: #8080806c;
  font-weight: bold;
}
