.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
  height: 100%;
  align-items: center;
}

li, ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

.main {
  display: flex;
  flex-direction: column;
}